.posts {
    padding: 1rem 1rem 1rem 1rem;
}

.post {
    height: fit-content;
    width: 300px;
    padding: 1.5em;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
    align-self: center;
    
}

.post:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.content {
    color: rgb(43, 41, 41);
}

.author {
    color:rgb(73, 70, 77)
}

/* like author color */
.category {
    color: rgb(56, 93, 117);
}
.title {
    color: black !important;
    font-size: 20px;
}

.prev-img {
    width: 100%;
    align-self: center;
}
