@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* background-color: rgb(202, 196, 196);
  height: 100%; */
}

.boardInfo {
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-size: 36px;
}

.spinner {
  margin-top: 5rem;
}

.center-div {
  display: flex;
  flex-direction: row;
  justify-content:  center;
}

.unstyled-link {
  text-decoration: none;
  color: black;
}

.highlighted {
  background-color: yellow;
}