@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* background-color: rgb(202, 196, 196);
  height: 100%; */
}

.boardInfo {
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-size: 36px;
}

.spinner {
  margin-top: 5rem;
}

.center-div {
  display: flex;
  flex-direction: row;
  justify-content:  center;
}

.unstyled-link {
  text-decoration: none;
  color: black;
}

.highlighted {
  background-color: yellow;
}

.error {
  color: red;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Define a class for styling the paragraph like a link */
.false-link {
  color: #007bff; /* You can change this to the desired link color */
  cursor: pointer;
  text-decoration: underline;
  margin: 0; /* Remove default margin */
  padding: 0;
  display: inline; 
}

/* Change the color when the paragraph is hovered */
.false-link:hover {
  color: #0056b3; /* You can change this to the desired hover color */
}

/* Change the color when the paragraph is active (clicked) */
.false-link:active {
  color: #004085; /* You can change this to the desired active color */
}
